<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>测试</title>
</head>
<body>
	<form action="/users" method="post" enctype="multipart/form-data">
		<input type="text" name="username"><br>
		<input type="password" name="password"><br>
		<input type="file" name="filename"><br>
		<input type="submit" value="提交">
	</form>
</body>
</html>